.article {
  //max-width: var(--article-width);



  .article__container {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-article);

    .article__image {
      width: 100%;
    }

    .article__badge {
      position: absolute;
      // todo: create variable for top and left :D :)
      top: 0.625rem;
      left: 0.625rem;
      @include button-base;
    }

    .article__btn-details {
      @include button-orange;
      @include absCenterX;
      bottom: 1.25rem;
      width: 90%;
      z-index: 1;

      @media (max-width: 390px) {
        bottom: .9rem;
        padding: .5rem;
      }
    }

    .article__overlay {
      width: 100%;
      height: var(--article-overlay-height);
      background-color: var(--article-overlay-bg-color);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 0;
    }
  }

  .article__title {
    font-size: var(--font-size-h3);
    margin-top: var(--space-md);
    margin-bottom: var(--font-size-md);
  }

  .article__price {
    color: var(--color-black);
    font-size: var(--font-size-lg);
    font-weight: 700;
  }

  .article__sale {
    color: var(--color-primary);
    margin-right: var(--space-price);
    font-size: var(--font-size-lg);
    font-weight: 700;
  }

  .article__no-sale {
    text-decoration: line-through;
    color: var(--color-secondary);
    font-size: var(--font-size-lg);
    font-weight: 700;
  }
}